.botonesnav {
    justify-content: space-around;
}

.botonesnav
a {
    border: 0px solid black;
    border-radius: 12px;
    padding: 4px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 1s;
    font-size: 110%;
    background-color: rgba(255, 0, 0, 0.774);
    margin: 2%;
}

.botonesnav
a:hover {
    box-shadow: -3px 3px rgba(36, 36, 97, 0.425);
    border-radius: 35px;
    padding: 6px;
    font-size: 120%;
    color: black;
    background-color: rgba(0, 32, 211, 0.664);
}

.botonesnav {
    transition: 0.9s;
}

.botonesnav:hover {
    margin-bottom: 2%;
    margin-top: 2%; 
}